%form.task-new{:action => url_for(:controller => 'tasks', :action => 'create')}

  %input{:name => 'project', :type => 'hidden', :value => @project_id}

  %fieldset
    %legend Создать задачу

    %label Название
    %input{:name => 'name', :type => 'text', :placeholder => 'название задачи'}

    %label Дата начала
    %input.datapick{:name => 'start', :type => 'text'}

    %label Длительность(дни)
    %input{:name => 'duration', :type => 'text'}

    %label Приоритет
    %input{:name => 'priority', :type => 'text', :placeholder => '1-100'}

    %label Описание
    %textarea{:name => 'description', :placeholder => 'краткое описание задачи'}

    %br
    %br

    %button.btn{:type => 'submit'} Создать