%form
  %fieldset
    %legend Создать задачу

    %label Название
    %input{:type => 'text', :placeholder => 'название задачи'}

    %label Дата начала
    %input.datapick{:type => 'text'}

    %label Дата завершения
    %input.datapick{:type => 'text'}

    %label Приоритет
    %input{:type => 'text', :placeholder => '1-100'}

    %label Описание
    %textarea{:placeholder => 'Краткое описание задачи'}

    %br
    %br

    %button.btn{:type => 'submit'} Создать