%form.task-new
  %fieldset
    %legend Создать задачу

    %label Название
    %input{:name => 'name', :type => 'text', :placeholder => 'название задачи'}

    %label Дата начала
    %input.datapick{:name => 'start', :type => 'text'}

    %label Дата завершения
    %input.datapick{:name => 'finish', :type => 'text'}

    %label Приоритет
    %input{:name => 'priority', :type => 'text', :placeholder => '1-100'}

    %label Описание
    %textarea{:name => 'description', :placeholder => 'Краткое описание задачи'}

    %br
    %br

    %button.btn{:type => 'submit'} Создать