%ul.breadcrumb
  %li
    %a{:href => projects_path} TaskMonitor
    %span.divider /
  %li.active О проекте

.page-content.about
  .row
    .span9
      %img.ava{:src => 'http://www.gravatar.com/avatar/3d6945c309a776aa68e0392759b317bb.png'}
      %p
        Данный сервис является практической частью дипломного проекта студента МГПУ Матюнина М.М.
      %p
        Предоставляются возможности по гибкому и удобному управлению динамическими приоритетами задач. В настоящий момент прокет находится на этапе тестирования и после успешной отладки проблемных мест он вероятнее всего уйдёт в open source и репозиторий

        %a{:href => 'https://github.com/matyunin/TaskMonitor'} https://github.com/matyunin/TaskMonitor

        будет доступен публично.