%form.project-invite{:action => url_for(:controller => 'projects', :action => 'invite_save')}

  %fieldset
    %legend Пригласить пользователя

    %label E-Mail зарегистрированного пользователя TaskMonitor
    %input{:name => 'email', :type => 'text', :placeholder => 'E-Mail пользователя в TaskMonitor'}

    %br
    %br

    %button.btn{:type => 'submit'} Создать
