%ul.breadcrumb
  %li
    %a{:href => projects_path} TaskMonitor
    %span.divider /
  %li
    %a{:href => projects_path} Проекты
    %span.divider /
  %li.active= @project.name

%input{:id => 'project', :type => 'hidden', :value => @project.id}

= render :partial => "projects/tasks/buttons"

.page-content
  !!!