/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.projects-list{
    /*margin: 15px 0 0 0;*/
}

.tasks-container{
    height: 422px;
    margin: 20px 0 0 0;
    display: block;
    overflow: scroll;
    position: relative;
    border-radius: 5px;
    background: #f5f5f5;
    border: 1px solid #d4d4d4;
}
.tasks-container .c{
    position: relative;
}

.task-item{
    background-color: #FFF;
    border: 1px dashed gray;
    border-collapse: collapse;
    height: 89px;
    width: 3000px;
}

.v-line{
    border-right: 1px dashed #d4d4d4;
    width: 1px;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
}

.v-date{
    position: absolute;
    top: 0px;
    font-size: 9px;
    right: 9px;
}

.page-content.about img.ava{
    float: left;
    margin: 0 15px 10px 0;
}