.btn-group
  %a.btn.btn-primary{:href => '#'}
    %i.icon-user.icon-white
    = current_user.email.split('@')[0]
  %a.btn.btn-primary.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
    %span.caret
  %ul.dropdown-menu
    %li
      %a{:href => '#'}
        %i
        Профиль
    %li.divider
    %li
      %a{:href => destroy_user_session_path}
        %i
        Выйти