%ul.nav.pull-right
  %li.dropdown
    %a.dropdown-toggle{:href => '#', 'data-toggle' => "dropdown"}
      %i.icon-user.icon-black
      = current_user.email
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href => '#'}
          %i
          Профиль
      %li.divider
      %li
        %a{:href => destroy_user_session_path}
          %i
          Выйти